*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
h3{
    color:#3C81F4 ;
}
.btn {
    padding: 5px 10px;
    color:black;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    background:white;
  }
  .circle{
    padding: 5px 10px;
    color: black;
    background: #9593E6;
    border-radius: 50%;
  }
  .btn.appstore{
    background: #3C81F4;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    width: 200px;
  }

header{
    background-color: #3C81F4;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}
/* utility class */
.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    /* background: yellow; */
}
.container-violet{
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li>a{
    padding: 15px;
    color: white;
}
ul{
    display: flex;
    list-style: none;
}

.features{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    color: grey;
    font-size: 17px;
}
.card{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    background-color: #BBDBFC;
    border-radius: 28px 28px 28px 28px;
    padding: 0 10px;
}
.card.big{
    display: flex;
    width: calc((100% / 3) * 2 - 20px);
}
.card-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
}
.card-img{
    width: 50%;
    height: 80%;
    height: 300px;
    position: relative;
}
.card-img>img{
    height: 80%;
    position: absolute;
    bottom: 0;
}
.card-ico{
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
    color: #3C81F4;
}
.card-title{
   text-align: center;
   margin: 20px 0;
  
}
.card-testo{
   text-align: center;
   margin-bottom: 50px;
}

.violetsection{
    width: 100%;
    background-color:#9593E6;
    margin-top: 50px;
}

.planning-card-big{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.planning-card-big-foto{
    width: 100%;
    height: 30%;
    margin: 50px 0;
}
.planning-card-big-foto>img{
    height: 100%;
}
.planning-card-big-title{
    width: 100%;
    margin: 20px 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.planning-card-big-text{
    width: 100%;
    height: 30%;
    color: white;
}
.planning-card{
   
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.container-planning-card{
    width: 80%;
    margin: 0 auto;
    height: 500px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
}
.container-planning-card i{
    font-size: 40px;
    border-radius: 50%;
    background-color: #9593E6;
    color: black;
}
.planning-card-foto{
    height: 40%;
}
.planning-card-foto>img{
    height: 100%;
}
.planning-card-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.planning-card-txt{
    font-style: italic;
}
.benefits{
    margin-top: 100px;
    text-align: center;
    line-height: 30px;
    /* deb */
    min-height: 500px;
}
.benefits>h2{
    font-size: 45px;
    color: #918EDC;
    margin: 30px auto;
}
.card-benefits{
    width: 100%;
    background: #9593E6;
    border-radius: 28px 28px 28px 28px;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.card-benefits-foto{
    width: 20%;
   
    border-radius: 50%;
   
}
.card-benefits-foto>img{
    width: 100%;
    min-height: 200px;
    border-radius: 50%;
    margin: 20px 0;
}
.card-benefits-txt{
    width: 70%;
    color: white;
}
.card-benefits-txt>span{
    display: flex;
    align-self: flex-start;
    margin-left: 15px;
    margin-top: 20px;
}
@media screen and (max-width:768px){
    nav>ul{
        display: none;
    }
    .card.big{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card-txt{
        width: 100%;
        gap: 20px;
        margin-top: 10px;
    }
    .features{
        font-size: 1.2rem;
    }
    .container-violet{
     flex-direction: column;
     align-items: center;
     width: 100%;
     gap: 0;
    }
   .circle{
    margin-bottom: 50px;
   }
    .planning-card{
        width: 100%;
        padding: 20px;
    }
    .planning-card-big{
        width: 100%;
        padding: 20px;
    }
    .planning-card-big-foto>img{
        width: 100%;
    }
    .container-planning-card{
        width: 100%;
        height: 100%;
    }
    .planning-card-big-title{
        font-size: 30px;
    }
    .planning-card-big-foto{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .planning-card-foto{
        display: flex;
        align-items: center;
        height: 70%;
        justify-content: center;
    }
    .planning-card-foto>img{
        width: 100%;
    }
}
