*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.features.container h3{
    color:#3C81F4 ;
}
/* tasti */
.btn {
    padding: 5px 10px;
    color:black;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    background:white;
  }
  .circle{
    padding: 5px 10px;
    color: black;
    background: #9593E6;
    border-radius: 50%;
  }
  .btn.appstore{
    background: #3C81F4;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    width: 200px;
  }
  .btn.violet{
    background: #918EDC;
    color: white;
    text-align: center;
    width: 150px;
    padding: 10px 10px;
    margin-top: 20px;
  }
  .btn.violet.aboutus{
    width: 70%;
    font-size: 17px;
  }
  .btn.pricing{
    padding: 20px 60px;
    color: #9593E6;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
  }
header{
    background-color: #3C81F4;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}
/* utility class */
.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    /* background: yellow; */
}
.container-violet{
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}
.flexc{
    display: flex;
    flex-direction: column; 
}
.flexr{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li>a{
    padding: 15px;
    color: white;
}
li>i{
    color: white;
    font-size: 20px;
    display: none;
    visibility:hidden ;
}
ul{
    display: flex;
    list-style: none;
}
.hamburger-menu{
    display: none;
    color: white;
    font-size: 20px;
}
.features{
    margin-top: 100px;
    flex-wrap: wrap;
    color: grey;
    font-size: 17px;
}
.card{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    background-color: #BBDBFC;
    border-radius: 28px 28px 28px 28px;
    padding: 0 10px;
}
.card.big{
    width: calc((100% / 3) * 2 - 20px);
}
.card-txt{
    width: 50%;
    justify-content: space-evenly;
    padding: 0 10px;
}
.card-img{
    width: 50%;
    height: 80%;
    height: 300px;
    position: relative;
}
.card-img>img{
    height: 80%;
    position: absolute;
    bottom: 0;
}
.card-ico{
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
    color: #3C81F4;
}
.card-title{
   text-align: center;
   margin: 20px 0;
}
.card-testo{
   text-align: center;
   margin-bottom: 50px;
}
.violetsection{
    width: 100%;
    background-color:#9593E6;
    margin-top: 50px;
}
.planning-card-big{
    width: 50%;
}
.planning-card-big-foto{
    width: 100%;
    height: 30%;
    margin: 50px 0;
}
.planning-card-big-foto>img{
    height: 100%;
}
.planning-card-big-title{
    width: 100%;
    margin: 20px 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.planning-card-big-text{
    width: 100%;
    height: 30%;
    color: white;
}
.planning-card{
    width: 50%;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.container-planning-card{
    width: 80%;
    margin: 0 auto;
    height: 500px;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
}
.container-planning-card i{
    font-size: 40px;
    border-radius: 50%;
    background-color: #9593E6;
    color: black;
}
.planning-card-foto{
    height: 40%;
}
.planning-card-foto>img{
    height: 100%;
}
.planning-card-title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.planning-card-txt{
    font-style: italic;
}
.partners{
    margin-top: 100px;
    text-align: center;
    line-height: 30px;
}
.partners>h2{
    font-size: 45px;
    color: #918EDC;
    margin: 30px auto;
}
.card-partners{
    width: 100%;
    background: #9593E6;
    border-radius: 28px 28px 28px 28px;
    margin: 30px 0;
    justify-content: space-around;
    align-items: center;
    
}
.card-partners-foto{
    width: 20%;
    border-radius: 50%;
}
.card-partners-foto>img{
    width: 100%;
    min-height: 200px;
    border-radius: 50%;
    margin: 20px 0;
    object-fit: cover;
}
.card-partners-txt{
    width: 70%;
    color: white;
}
.card-partners-txt>span{
    display: flex;
    align-self: flex-start;
    margin-left: 15px;
    margin-top: 20px;
}
.benefits{
    flex-wrap: wrap;
}
.benefits>h2{
    text-align: center;
}
.violetsection h2{
    text-align: center;
    color: white;
    font-size: 45px;
    padding: 40px;
}
.card.benefits{
    background-color: white;
    padding: 30px;
    height: 100%;
}
.card.benefits:last-child{
    margin-bottom: 80px;
}
.card-benefits-container{
    width: 100%;
    height: 60%;
    justify-content: center;
    gap: 10px;
}
.card-benefits-container>h3 {
    color: #9593E6;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
    white-space: nowrap;
}
.card-benefits-container>span{
    font-size: 80px;
    color: #9593E6;
    font-weight: bold;
}
.card-benefits-container>p{
    color: grey;
    font-size: 20px;
}
.aboutussx>h2{
    color: #9593E6;
    font-size: 40px;
    margin-bottom: 20px;
    padding-right: 10px;
}
.aboutus{
    margin-top: 50px;
    justify-content: space-between;
}
.aboutussx{
    width: 70%;
    line-height:30px;
}
.aboutusdx{
    width: 25%;
    align-items: flex-start;
    justify-content: space-around;
}
.aboutussx>p:last-child{
    margin-top: 50px;
}
.imgposition>img{
    border-radius: 50%;
    width: 80%;
}
.imgposition{
    position: relative;
}
.imgposition>i{
    color: #918EDC;
    font-size: 4rem;
    position: absolute;
    top: 0;
    right: 50px;
}
.aboutusdx h3{
    color: #918EDC;
    padding: 30px 0;
    line-height: 30px;
}
.pricing{
    margin-top: 40px;
    align-items: center;
    color: white;
}
#free{
    color: #F3C26F;
    font-size: 80px;
    font-weight: bold;
}
.pricing span:first-child{
    color: #D0CFEF;
    margin-top: 50px;
}
.pricing span:last-child{
    margin: 15px 0 50px 0;
}
#pricing-description{
    width: 50%;
    margin-top: 20px;
}
.pricing a{
    color: white;
    text-decoration: none;
}
.pricing a:last-child:hover{
    text-decoration: underline;
}
footer{
    background: #363636;
    width: 100%;
}
.footer{
    color: white;
    text-align: center;
    padding-top: 50px;
    width: 40%;
}
.footer span:last-child{
    margin: 50px 0;
}
.footer a{
    text-decoration: none;
    color: #918EDC;
}

.dropbtn {
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background: #3C81F4;
    color: white;

  }
  .dropdown {
    position: relative;
    display: inline-block;
    display: none;
  }
  .dropdown-content {
    background:rgba(91, 91, 80, 0.25);
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    z-index: 1;
    left: 0;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: rgba(250, 250, 250, 0.9);
}
  .dropdown:hover .dropdown-content {
    display: block;
}
  .dropdown:hover .dropbtn {
    background-color: rgba(91, 91, 80, 0.25);
    color: black;
    }


































/* tablet queries */
@media screen and (max-width:811px){
    nav>ul{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .card.big{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card-txt{
        width: 100%;
        gap: 20px;
        margin-top: 10px;
    }
    .features{
        font-size: 1.2rem;
    }
    .container-violet{
     flex-direction: column;
     align-items: center;
     width: 90%;
     gap: 0;
    }
   .circle{
    margin-bottom: 50px;
   }
    .planning-card{
        width: 100%;
        padding: 20px;
    }
    .planning-card-big{
        width: 100%;
        padding: 20px;
    }
    .planning-card-big-foto>img{
        width: 100%;
    }
    .container-planning-card{
        width: 100%;
        height: 100%;
    }
    .planning-card-big-title{
        font-size: 30px;
    }
    .planning-card-big-foto{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .planning-card-foto{
        display: flex;
        align-items: center;
        height: 70%;
        justify-content: center;
    }
    .planning-card-foto>img{
        width: 100%;
    }
    .partners.container{
        width: 100%;
    }
    .partners.container>p{
        margin: 0 20px;
    }
    .partners>h2{
        margin: 30px 20px;
    }
    .card-partners{
        width: 90%;
        margin-left:20px;
        margin-right: 20px;
        align-self: center;
    }
    .card.benefits{
        width: calc(100% / 2 - 20px);
    }
    .card-benefits-container>h3{
        font-size: 1.5rem;
    }
    .container.aboutus{
        width: 100%;
    }
    .aboutussx{
        width: 50%;
    }
    .aboutus{
        justify-content: space-evenly;
    }
    .aboutusdx{
        justify-content: flex-start;
    }
    .btn.violet.aboutus{
        width: 100%;
    }
    .imgposition>i{
        font-size: 60px;
        right: 30px;
    }
    .dropdown{
        display: block;
    }
}
/* mobile queries */
@media screen and (max-width:480px) {
    .container{
        width: 95%;
    }
    .card.big{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    .partners{
        margin-top: 20px;
    }
    .partners>h2{
        font-size: 2rem;
        line-height: 40px;
    }
    .card-partners-foto{
        width: 50%;
    }
    .card-partners{
        flex-direction: column;
    }
    .card-partners-txt{
        width: 60%;
    }
    .card-partners-txt>span{
        justify-content: center;
    }
    .card.benefits{
        width: 100%;
    }
    .container.aboutus{
        flex-direction: column;
        align-items: center;
    }
    .aboutussx{
        width: 90%;
        margin-bottom: 50px;
    }
    .aboutusdx{
        width: 90%;
    }
    .btn.violet.aboutus{
        width: 50%;
    }
    .imgposition>img{
        width: 50%;
    }
    .imgposition>i{
        font-size: 5rem;
        right: 200px;
    }
    .violetsection>h2{
        font-size: 2rem;
    }
    #pricing-description{
        width: 80%;
    }
    .btn.pricing{
        margin-bottom: 30px;
    }
}