*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #3C81F4;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}
.container{
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul>a{
    padding: 10px;
    text-decoration: none;
    color: white;
}