*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
h3{
    color:#3C81F4 ;
}
.btn {
    padding: 5px 10px;
    color:black;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    background:white;
  }
  .btn.appstore{
    background: #3C81F4;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    width: 200px;
  }

header{
    background-color: #3C81F4;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}
.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li>a{
    padding: 15px;
    color: white;
}
ul{
    display: flex;
    list-style: none;
}
@media screen and (max-width:768px) {
    nav>ul{
        display: none;
    }
    .card-big{
        flex-direction: column;
        height: 100%;
    }
    .card{
        height: 100%;
    }
    
}
.features{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    color: grey;
}
.card-big{
    width: calc((100% / 3) * 2 - 30px);
    display: flex;
    margin: 10px;
    border-radius: 20px;
    /* deb */
    height: 300px;
    background-color:#BBDBFC;
}
.card-big-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 20px;
}
.card-big-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-big-img>img{
    height: 90%;
}
.card{
    background: #BBDBFC;
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    height: 300px;
}
.card>i{
    color: #3C81F4;
    font-size: 70px;
}
.features p{
    margin: 0 20px;
}
.card-big-txt>h3,a{
    margin: 0 20px;
}