*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
h3{
    color:#3C81F4 ;
}
.btn {
    padding: 5px 10px;
    color:black;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    background:white;
  }
  .btn.appstore{
    background: #3C81F4;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    width: 200px;
  }

header{
    background-color: #3C81F4;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}
/* utility class */
.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}
.container-violet{
    width: 60%;
    margin: 0 auto;
    max-width: 1200px;
    /* deb */
    background-color: yellow;
    min-height: 500px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li>a{
    padding: 15px;
    color: white;
}
ul{
    display: flex;
    list-style: none;
}

.features{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    color: grey;
    font-size: 17px;
}
.card{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    /* deb */
    background-color: #BBDBFC;
    border-radius: 28px 28px 28px 28px;
    padding: 10px 10px;
    
}
.card.big{
    display: flex;
    width: calc((100% / 3) * 2 - 20px);
}
.card-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
}
.card-img{
    width: 50%;
    height: 80%;
    /* debug */
    height: 300px;
    position: relative;
}
.card-img>img{
    height: 80%;
    position: absolute;
    bottom: 0;
}
.card-ico{
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
    color: #3C81F4;

}
.card-title{
   text-align: center;
   margin: 20px 0;
  
}
.card-testo{
   text-align: center;
   margin-bottom: 50px;
}

.violetsection{
    width: 100%;
    background-color:#9591DD;
    /* debug */
    min-height: 500px;
}

.planning-card-big{
    
}


@media screen and (max-width:768px){
    nav>ul{
        display: none;
    }
    .card.big{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card-txt{
        width: 100%;
        gap: 20px;
        margin-top: 10px;
    }
    .features{
        font-size: 1.2rem;
    }
}
